<section style="margin-bottom:150px;">
<div class="container-md" style="margin-top:100px; ">
<div class="card rounded shadow-lg borderBlue">
  <div class="card-body" >
<h3 >About Us</h3><hr style="height:10pt; visibility:hidden;" />
<p>
The Sneaker Competition (TSC) provide skill based competitions where entrants can win their dream pair of sneakers for as little as 99p!<hr style="height:1pt; visibility:hidden;" />
 
Previously @fastlane.kicks on Instagram, we brought a high quality approach to reselling sneakers while providing great prices that our customers loved. With 900+ positive feedback on eBay and 100+ reviews between Depop and Instagram, we are a trusted, well-established service in the marketplace. <hr style="height:1pt; visibility:hidden;" />
 
This is a new venture where we provide transparent and legitimate skill based competitions where customers can compete for amazing prizes! This is our provably fair answer to Instagram story 'raffles' that always leave you thinking: 'Are these rigged..? I bet he just gave it to his mate'. For more information on how to enter see our How to Play and FAQ pages! <hr style="height:1pt; visibility:hidden;" />
 
All your support is greatly appreciated as well as any feedback you might have.<hr style="height:1pt; visibility:hidden;" />
 
Compete today for an opportunity to have your dream pair for as little as 99p!<hr style="height:1pt; visibility:hidden;" />
 
∼ TSC Team




</p>
 </div>
</div>

</div>
</section>