
  {% load static %}
<div class="container-md textAlignCent">
 <h2 class="setPrimaryTextCol" style="margin-bottom:40px">How to play</h2>

 <div class="row">
    <div class="col-sm ">
    <img src="{% static 'images/select.svg' %}"} width="200" height="200">
     <p class="setPrimaryTextCol">Pick your prize and select how many entries you would like in the competition.</p>
      
    </div>
    <div class="col-sm">
        <img src="{% static 'images/gamingImage.svg' %}"} width="200" height="200">
         <p class="setPrimaryTextCol">Use your skill to solve our questions to enter the competition. All correct responses are then put into a prize draw.</p>
    </div>
    <div class="col-sm">
        <img src="{% static 'images/socials.svg' %}"} width="200" height="200">
        <p class="setPrimaryTextCol">The competition draw will be live streamed on our Instagram. A random number generator is used to select a winner from those who answered correctly.</p>
    </div>
  </div>



</div>
