{% extends 'base.html' %} {% block content %}
<div class="container-md" style="margin-bottom:5%;">
<h1 style="margin-top:5%;">Got some questions? Check out the FAQ's</h1>

<h3 style="margin-top:5%;">The Draw</h3>

<div class="accordion " id="accordationOne">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="True" aria-controls="collapseOne">
        How do I enter?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordationOne">
      <div class="accordion-body">
        <p>Entering one of our competitions is easy.  You just need to sign up and follow these 3 easy steps.</p>
            <ol>
                <li>Pick your prize and select how many entries you would like in the competition.</li>
                <li>Solve our skill based questions to enter the competition. All correct responses are then put into a prize draw.</li>
                <li>The competition draw will be livestreamed on our Instagram page. A random number generator is used to select a winner from those who answered correctly.</li>
            </ol> 
        
        <p>Free postal entries are also available, see <a href='#'>here</a> </p> 

      </div>
    </div>
  </div>
  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       When and how is the winner drawn?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordationOne">
      <div class="accordion-body">
        <p>The prize draw will take place within 48 hours of the entries being full or within 28 days of the draw opening.</p>
        <p>The competition draw will be livestreamed on our Instagram page <a href="#">here</a>. A random number generator is used to select a winner from those who answered correctly. Winners will receive a winning phone call immediately during the livestream as well as email confirmation in order to arrange delivery of their prize.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Who can enter?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordationOne">
      <div class="accordion-body">
       <p>The competition is open to all UK residents, aged 18 years or over, except members of the immediate families or households of the promoter.</p>
      </div>
    </div>
  </div>
</div>

 <h3 style="margin-top:5%;">Tickets</h3>

<div class="accordion" id="accordationTwo">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#TicketscollapseOne" aria-expanded="false" aria-controls="TicketscollapseOne">
        How many tickets are there for each draw?
      </button>
    </h2>
    <div id="TicketscollapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordationTwo">
      <div class="accordion-body">
        <p>The maximum number of tickets for each competition is displayed in the draw details. This maximum number is fixed and will not change under any circumstances.</p>   

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#TicketscollapseTwo" aria-expanded="false" aria-controls="TicketscollapseTwo">     
        How do I receive my ticket number?

      </button>
    </h2>
    <div id="TicketscollapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordationTwo">
      <div class="accordion-body">
        <p>Once your payment has been processed, you will receive an order confirmation email containing your ticket details.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#TicketscollapseThree" aria-expanded="false" aria-controls="TicketscollapseThree">
        Can I cancel or amend my ticket purchase?
      </button>
    </h2>
    <div id="TicketscollapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordationTwo">
      <div class="accordion-body">
       <p>All ticket sales are final and cannot be cancelled or amended once purchased.</p>
      </div>
    </div>
  </div>
</div>


 <h3 style="margin-top:5%;">Payment</h3>

<div class="accordion" id="accordationThree" >
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PaymentcollapseOne" aria-expanded="true" aria-controls="PaymentcollapseOne">
        How much does each ticket cost?
      </button>
    </h2>
    <div id="PaymentcollapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordationThree">
      <div class="accordion-body">
        <p>The price of each ticket is clearly displayed within the draw details. There are discounts for those who purchase 5+ or 10+ tickets. These prices will never change during the sale period keeping it fair for everyone.</p>
           
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PaymentcollapseTwo" aria-expanded="false" aria-controls="PaymentcollapseTwo">
       How secure are my payments?
      </button>
    </h2>
    <div id="PaymentcollapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordationThree">
      <div class="accordion-body">
        <p>We use secure, encrypted connections across our website and do not hold your card details on our servers. More detail.</p>
       
      </div>
    </div>
  </div>
</div> 

<h3 style="margin-top:5%;">Prize mechanics</h3>

<div class="accordion" id="accordationFour">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PrizecollapseOne" aria-expanded="false" aria-controls="PrizecollapseOne">
        How will I know if I have won?
      </button>
    </h2>
    <div id="PrizecollapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordationFour">
      <div class="accordion-body">
        <p>If you can, watch the livestream to see if your name is drawn! All winners will receive a personal phone call during the livestream to be informed of their win.</p>
        <p>Additionally, all winners will promptly receive email confirmation and be contacted to arrange delivery of their prize.</p>
        <p>To keep things as transparent as possible, all past winners are featured on our site as well as a complete record of all previous competitions. *Here*</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PrizecollapseTwo" aria-expanded="false" aria-controls="PrizecollapseTwo">
    How do I receive my prize?
      </button>
    </h2>
    <div id="PrizecollapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordationFour">
      <div class="accordion-body">
        <p>We arrange delivery of all prizes free of charge! Some deliveries will even be made by hand so keep an eye out for the TSC team!</p>
       
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PrizecollapseThree" aria-expanded="false" aria-controls="PrizecollapseThree">
         Do I have to do anything after winning a prize?
      </button>
    </h2>
    <div id="PrizecollapseThree" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordationFour">
      <div class="accordion-body">
        <p>First off, sit back, relax and look forward to the delivery date. To ensure transparency and compliance, we also need a photo of you and your prize to go onto the winners page of the website.</p>
       
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PrizecollapseFour" aria-expanded="false" aria-controls="PrizecollapseFour">
        What happens if no one claims the prize?
      </button>
    </h2>
    <div id="PrizecollapseFour" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordationFour">
      <div class="accordion-body">
        <p>We will contact all winners using the registered email and mobile number on their account, so please ensure these are correct when entering. If we are unable to reach you within 28 days of the draw we reserve the right to re-draw from the same pool of entries as the first competition. This comes at no extra cost to those who had already entered the original draw. The prize may not be claimed by a third party on your behalf.</p>
        <p>Imagine there are 200 entries in a draw with the correct answer to the skill based question(s).</p>
        <p>Jimmy wins the draw and had purchased 5 entries with the correct answer.</p>
        <p>Jimmy is uncontactable and does not claim their prize within 28 days. Poor Jimmy.</p>
        <p> The draw will be re-performed with the remaining 195 entries that contained the correct answer. We will contact all the previous entrants with this information as well as the new draw date.</p>
        <p>The new winner will be contacted as per the usual procedure.</p>

      </div>
    </div>
  </div>
</div>




</div >



{% endblock %}