{% extends 'base.html' %} {% block content %}

    <div class="container-sm">
    <h1>Free Entry</h1>

    <p>
    If you wish to enter any of our competitions for free then you must send an unenclosed postcard via First Class post stating:  Which competition you would like to take part in, the answer to the question specific to that particular competition along with your personal details as follows:
    </p>
    <br>
    <ul>
    <li>Full Name</li>
     <li>Postal Address</li>
      <li>Email address</li>
    <li>Contact Number</li>
    </ul>
    <br>
    <p>
    Remember postcards must also contain the correct answer to the question for the competition desired.<br>

Send entries to: addres goes here<br>

All free entries must be received before the close of the competition. Any entries that fail to follow the criteria mentioned above will be void as per any entry received.<br>

Entrants must also have an active account at the time that the postal entry is received.<br>

The business mailbox will be checked twice a week for free entries.<br>
    
    
    </p>

    
    </div>


{% endblock %}