

{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="container-md ">
<div class="row" style="text-align: unset;">
    <div class="col">
    <h1>Top content</h1><br>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tempor nisl. In hac habitasse platea dictumst. Sed non ligula ipsum. Curabitur turpis sem, pretium id maximus et, consectetur non justo. Phasellus eget ligula quis lectus malesuada volutpat. Maecenas pulvinar tortor odio. Curabitur sodales molestie tellus non fringilla.
    </p>
    
</div>
</div>





<div class="row ">
    <div class="col-lg">
    <h2>Top content</h2><br>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tempor nisl. In hac habitasse platea dictumst. Sed non ligula ipsum. Curabitur turpis sem, pretium id maximus et, consectetur non justo. Phasellus eget ligula quis lectus malesuada volutpat. Maecenas pulvinar tortor odio. Curabitur sodales molestie tellus non fringilla.
    </p>
    </div>
    <div class="col-lg align-image"> <img width=400 src="{% static 'images/notify.svg' %}"> </img></div>
</div>
<hr>
<div class="row ">
    <div class="col-lg ">
    <h2>Top content</h2><br>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tempor nisl. In hac habitasse platea dictumst. Sed non ligula ipsum. Curabitur turpis sem, pretium id maximus et, consectetur non justo. Phasellus eget ligula quis lectus malesuada volutpat. Maecenas pulvinar tortor odio. Curabitur sodales molestie tellus non fringilla.
    </p></div>
    <div class="col-lg align-image"> <img width=400 src="{% static 'images/notify.svg' %}"> </img></div>
</div>
<hr>
<div class="row ">
    <div class="col-lg ">
    <h2>Top content</h2><br>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tempor nisl. In hac habitasse platea dictumst. Sed non ligula ipsum. Curabitur turpis sem, pretium id maximus et, consectetur non justo. Phasellus eget ligula quis lectus malesuada volutpat. Maecenas pulvinar tortor odio. Curabitur sodales molestie tellus non fringilla.
    </p>
    </div>
    <div class="col-lg  align-image"> <img width=400 src="{% static 'images/notify.svg' %}"> </img></div>
</div>
<hr>
<div class="row ">
    <div class="col-lg"><h2>Top content</h2><br>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tempor nisl. In hac habitasse platea dictumst. Sed non ligula ipsum. Curabitur turpis sem, pretium id maximus et, consectetur non justo. Phasellus eget ligula quis lectus malesuada volutpat. Maecenas pulvinar tortor odio. Curabitur sodales molestie tellus non fringilla.
    </p></div>
    <div class="col-lg  align-image"> <img width=400 src="{% static 'images/notify.svg' %}"> </img></div>
</div>
<hr>
<div class="row">
     <div class="col-lg"><h2>Top content</h2><br>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tempor nisl. In hac habitasse platea dictumst. Sed non ligula ipsum. Curabitur turpis sem, pretium id maximus et, consectetur non justo. Phasellus eget ligula quis lectus malesuada volutpat. Maecenas pulvinar tortor odio. Curabitur sodales molestie tellus non fringilla.
    </p></div>
    <div class="col-lg  align-image"> <img width=400 src="{% static 'images/notify.svg' %}"> </img></div>
</div>
<hr>



</div>

{% endblock %}